/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    /* background-color: #248f0c; */
    background-color: #36d809;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}
/* Add Calendar Input Field Styles */
#datepicker {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Add more styles if needed */
}


/* Search Form Styles */
#search {
    margin-top: 60px;
    text-align: center;
}

form {
    display: inline-block;
}

label {
    margin-right: 10px;
}

input[type="text"], button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button  {
    background-color: #0f33d5;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
/* Add Background Image */
body {
    background-image: url('train.jpg'); /* Replace 'path/to/your/image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer{
    /* background-color: #248f0c; */
    background-color: #36d809;
    color: #fff;
    text-align: center;
    padding: 60px;
}
