/* Add Registration Form Styles */
#registration {
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1cd1d7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#registration h1 {
    margin-bottom: 20px;
    text-align: center;
}
#registration h2 {
    margin-bottom: 20px;
    text-align: center;
}

#registration form {
    display: flex;
    flex-direction: column;
}

#registration label {
    margin-bottom: 10px;
}

#registration input[type="text"],
#registration input[type="email"],
#registration input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#registration button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
button  {
    background-color: #181c18;
    color: #fff;
    border: none;
    cursor: pointer;
}

#registration button:hover {
    background-color: #0056b3;
}
body {
    background-image: url('train.jpg'); /* Replace 'path/to/your/image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
